# TEST SETTINGS

[*.cs]
dotnet_diagnostic.CA2007.severity = none # no need of ConfigureAwait(false) in tests
dotnet_diagnostic.CA1303.severity = none # Passing literal strings as values
dotnet_diagnostic.IDE0005.severity = none # No need for documentation
dotnet_diagnostic.IDE1006.severity = none # No need for Async suffix on test names

# Styles
dotnet_naming_style.end_in_async.required_prefix =
dotnet_naming_style.end_in_async.required_suffix = Async
dotnet_naming_style.end_in_async.capitalization = pascal_case
dotnet_naming_style.end_in_async.word_separator =

# Symbols
dotnet_naming_symbols.any_async_methods.applicable_kinds = method
dotnet_naming_symbols.any_async_methods.applicable_accessibilities = *
dotnet_naming_symbols.any_async_methods.required_modifiers = async

# Rules
# Remove need for "Async" suffix for tests (readability, no need to remind to use "await")
dotnet_naming_rule.async_methods_end_in_async.symbols = any_async_methods
dotnet_naming_rule.async_methods_end_in_async.style = end_in_async
dotnet_naming_rule.async_methods_end_in_async.severity = silent