.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose.yml
docker-compose.*.yml
**/bin
**/obj

# Exclude folders not required for compile
docs
examples
infra

# To make sure that the local appsettings files are not copied when building the image locally.
# These files are not in GitHub thanks to .gitignore
**/*appsettings.*.json
